.body {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-image: url("../image/lovepik-money-png-image_400249986_wh1200.png");
    padding: 10px 50px 20px 50px;
    margin: 100%;
    margin: 150px 600px;
    text-align: center;
}